.boton {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  min-width: 150px;
  max-width: 200px;
  font-size: 1em;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  border: 1px lightgray solid;
  text-align: center;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
}

.boton:hover,
.boton:focus {
  background: black;
  box-shadow: none;
  border: none;
  transform: scale(0.98);
}
