.iceberg {
  position: absolute;
  width: 35%;
  height: auto;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.contenedorIceberg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
