.contenedorIceberg {
  position: fixed;
  right: 0; 
  bottom: 0;
    width: 35vh;
  height: auto;
  z-index: -1;
}

.iceberg {
  position: absolute;

  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  z-index: -1;
}
