.contenedorBarco {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 0;
  position: absolute;
  z-index: -1;
  bottom: 20vh;
  left: 15px;
}

.titacic1 {
  background-color: cyan;
  height: 200px;
  position: absolute;
  left: 15px;
  z-index: 2;
}

.titanic2 {
  background-color: #09f09f;
  height: 200px;
  position: absolute;
  left: 400px;
  z-index: 2;
}

.contenedorPasajeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 48.5vw;
  bottom: 30vh;
  left: 15px;
  z-index: 3;
  gap: 3;
  height: auto;
  justify-content: center;
  align-items: end;
}

.pasajeros {
  height: 7.5px;
  width: 7.5px;
  border-radius: 5px;
  background-color: darkgray;
  margin: 2.5px;
  z-index: 0;
}

.ship-sailing {
  animation: sail 5s linear forwards;
}

@keyframes sail {
  from {
    left: 15px;
    /* bottom: 35px; */
  }
  to {
    left: 600px;
    /* bottom: 35px; */
  }
}

/* Animación de hundimiento
@keyframes sink {
  from {
    bottom: 20vh;
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    bottom: -140px; 
    transform: rotate(25deg);
    opacity: 0;
  }
}

Aplicamos la animación cuando el barco se hunde 
.ship-sinking {
  animation: sink 4s ease-in forwards;
} */

.survived {
  border-color: #09f09f;
}
