.contenedorBarco {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 0;
  width: 50vw;
  position: absolute;
  bottom: 25px;
  align-items: flex-end;
}


.der,
.izq {
  width: 25vw;
  height: auto;
  z-index: 2;
  position: relative;
}

.titanic {
  height: auto;
  width: 100%;
}

.contenedorPasajeros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  z-index: 3;
  height: auto;
  justify-content: center;
  align-items: end;
  position: absolute;
  bottom: 0;
}

.pasajeros {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: darkgray;
  margin: 2.5px;
  z-index: 0;
}

.muerto{
  background-color: yellow;
}
.vivo{
  background-color: cyan;
}

.ship-sailing {
  animation: sail 5s linear forwards;
}

@keyframes sink {
  0% {
    transform: transtranslateY(40%) rotate(0deg);
    opacity: 1;
  }
  33% {
    transform: translateY(60%) rotate(11.25deg);
    opacity: 0.66;
  }
  66% {
    transform: transtranslateY(80%) rotate(22.5deg);
    opacity: 0.33;
  }
  100% {
    transform: translateY(100%) rotate(45deg);
    opacity: 0;
  }
}

.ship-sinking {
  animation: sink 10s ease-in-out;
}
