* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Candara, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 10px;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


header {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.all-filters {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100px;
  box-sizing: border-box;
  max-height: 300px;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
  gap: 15px;
  padding-bottom: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.contenedorBotones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  justify-self: center;
  align-items: center;
}

.rango-contenedor {
  position: relative;
  background-color: #ffffff; /* Gris en lugar de negro */
  width: 500px;
  height: 5px;
  display: flex;
  align-items: center;
  margin: 10px auto; /* Centrado horizontal */
}

.rango-min,
.rango-max {
  position: absolute;
  width: 100%;
  pointer-events: none;
  background: transparent;
  -webkit-appearance: none; /* elimina los estilos por defecto de los elementos del navegador */
}

/* Estilos para el thumb (control deslizante) */
.rango-min::-webkit-slider-thumb,
.rango-max::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255); /* Azul */
  cursor: pointer;
  border: 2px solid rgb(5, 0, 0);
}

.rango-min::-moz-range-thumb,
.rango-max::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff; /* Azul */
  cursor: pointer;
  border: 2px solid white;
}

.valores-rango {
  width: 100vw;
  text-align: center;
  font-size: 20px;
}

.selectedBtn {
  background-color: black;
  
}

header {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
